<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learning Log</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'learning_logs:index' %}" style="color: #f0ad4e;" >Learning Log</a>

    <div class="navbar-collapse">
        <li class="nav-item active">
            <a class="nav-link" href="{% url 'learning_logs:topics' %}"style="color: #f0ad4e;">Topics <span class="sr-only">(current)</span></a>
        </li>
        {% if user.is_authenticated %}
            <span style="color: #f0ad4e;">Hello, {{ user.username }}</span>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'users:logout_view' %}"style="color: #f0ad4e;">Logout <span class="sr-only">(current)</span></a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'users:login_view' %}"style="color: #f0ad4e;">Login</a>
            </li>
        {% endif %} 
    </div>
</nav>

{% block content %}{% endblock content %}

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
